{% extends 'layouts/master.html' %}
{% block body %}

<div class="m-5">


    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <form method="post" action="/safe">
        <div class="form-group">
            <label for="group" class="text-light">Gruppe</label>
            <input type="text" name="groupname" list="groups" class="form-control bg-dark text-light" id="group"
                   placeholder="Gruppe">
        </div>
        <div class="form-group">
            <label for="anzahl" class="text-light">Anzahl Shots gekauft</label>
            <input type="number" name="shotcount" class="form-control bg-dark text-light" id="anzahl" placeholder="Anzahl">
        </div>
        <button type="submit" class="btn btn-primary">speichern</button>

        <datalist id="groups">
            {% for name in names %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </datalist>

    </form>

</div>
{% endblock %}



