{% extends 'layouts/master.html' %}
{% block body %}

    <div class="row">
        <img src="{{ url_for('static', filename='img/tbgs_logo_transparent.png') }}" alt="TrombongoesStadtfest"
             class="header-image">
    </div>

    <div class="row mt-5">
        <div class="col-6">
            <div class="card bg-transparent border-0">
                <div class="card-body">
                    <div id="chartContainer"></div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card bg-transparent border-0">
                <div class="card-body">
                    <div class="row">
                        <h1 class="display-4 text-light">Top 15</h1>
                    </div>
                    <table class="table text-light table-sm">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Gruppe</th>
                            <th scope="col">Anzahl</th>
                        </tr>
                        </thead>
                        <tbody id="grouptable"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-light" id="total">Total</h1>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/canvasjs.min.js') }}"></script>
    <script type="text/javascript">

        // console.log(navigator.platform);
        // console.log(location.protocol + '//' + location.hostname + (location.port ? ':' + location.port : ''));

        let chartData = [];
        let tbody = document.getElementById('grouptable');

        runner();
        setInterval(runner, 10000);

        function runner() {

            doGet('/getGroups', (err, data) => {
                // console.debug('doing getGroup call');
                if (err !== null) {
                    console.error('could not getting Data. Is the backend Server running?');
                    alert('Cannot calling Group Data \n' +
                        'Error raised: ' + err.number + '\n' +
                        'Is the server running?');
                } else {
                    chartData = data.data;
                    createChart();

                    // Cleanup Table
                    tbody.innerHTML = '';
                    createTable();
                    // updateTime();
                    updateTotal();
                }
            });

        }

        function updateTotal() {
            doGet('/getTotal', (err, data) => {
                // console.log('hello');
                if (err != null) {
                    alert('Cannot getTotal. Is the server running?');
                } else {
                    // console.log('total is ' + data.data);
                    let totalelem = document.getElementById('total');
                    totalelem.innerHTML = 'Total ' + data.total;
                    // console.log(totalelem);
                }
            });
        }

        function updateTime() {
            let newDate = new Date();
            let datetime = "LastSync: " + newDate.today() + " @ " + newDate.timeNow();
            let updateNag = document.getElementById("updated");
            updateNag.innerHtml = datetime;
            // console.log(datetime);
        }

        function createChart() {
            let chart = new CanvasJS.Chart("chartContainer", {
                theme: "dark2",
                animationEnabled: false,
                legend: {
                    fontFamily: "Tahoma"
                },
                data: [{
                    type: "pie",
                    indexLabelFontSize: 18,
                    radius: 200,
                    indexLabel: "{label} - {y}",
                    yValueFormatString: "###0",
                    dataPoints: chartData
                }]
            });
            chart.render();
        }

        function createTable() {
            let i = 1;
            chartData.forEach((group) => {
                tbody.innerHTML += "<tr><td>" + i + "</td><td>" + group.label + "</td><td>" + group.y + "</td></tr>";
                i++;
            });
        }

        /**
         * Execute GET Request against Server
         * @param resource
         * @param callback
         */
        function doGet(resource, callback) {

            let port = "";

            if (navigator.platform === "MacIntel") {
                port = ":5000";
            }

            let url = 'http://' + window.location.hostname + port + resource;
            let xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.responseType = 'json';
            xhr.onload = function () {
                let status = xhr.status;
                let message = xhr.statusText;

                if (status === 200) {
                    callback(null, xhr.response);
                } else {

                    let error = {
                        "number": status,
                        "message": message
                    };

                    callback(error, xhr.response);
                }
            };
            xhr.send();
        }

        // For todays date;
        Date.prototype.today = function () {
            return ((this.getDate() < 10) ? "0" : "") + this.getDate() + "." + (((this.getMonth() + 1) < 10) ? "0" : "") + (this.getMonth() + 1) + "." + this.getFullYear();
        }

        // For the time now
        Date.prototype.timeNow = function () {
            return ((this.getHours() < 10) ? "0" : "") + this.getHours() + ":" + ((this.getMinutes() < 10) ? "0" : "") + this.getMinutes() + ":" + ((this.getSeconds() < 10) ? "0" : "") + this.getSeconds();
        }

    </script>

{% endblock %}




